<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.jose.smartlapalma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYuiUVZkXZGrWs9rTuTWoIlufskyvgnIQ" />

        <activity
            android:name=".Views.Activities.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/main_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.ContactActivity"
            android:configChanges="orientation"
            android:label="@string/contact_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/about_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.NewsActivity"
            android:configChanges="orientation"
            android:label="@string/news_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.NewDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.TransportsActivity"
            android:configChanges="orientation"
            android:label="@string/transports_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.BusActivity"
            android:configChanges="orientation"
            android:label="@string/bus_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.TaxiActivity"
            android:configChanges="orientation"
            android:label="@string/taxi_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.InterestPlacesActivity"
            android:configChanges="orientation"
            android:label="@string/interest_activity_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.MeteorologyActivity"
            android:configChanges="orientation"
            android:label="@string/meteo_activity_name"
            android:screenOrientation="portrait"/>
    </application>

</manifest>